/* черный фон сайта */
.body {
    background-color: #cba2c6;
}
.p{
    color: white;
}
.table {
    margin-bottom: 20px;
    border: 15px solid #F2F8F8;
    border-top: 5px solid #F2F8F8;
    border-collapse: collapse;
}
.table tr {
    font-weight: bold;
    padding: 5px;
    background: #F2F8F8;
    border: none;
    border-bottom: 5px solid #F2F8F8;
}
.table td {

    padding: 5px;
    border: none;
    border-bottom: 5px solid #F2F8F8;
}
.A {
    padding-right: 10px;
    text-decoration: none;
    color: white; /* Цвет ссылок */
}
.A:visited {
    text-decoration: none;
    color: white; /* Цвет посещенных ссылок */
}
.A:hover {
    color: white;
}