<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Редактирование данных сотрудника</title>
  <meta charset="UTF-8">
</head>
<body>
<div th:insert="blocks/header"></div>
<div th:each="el: ${info}">
  <form method="post">
    <input type="text" th:value="${el.employeeName}" name="employeeName">
    <input type="text" th:value="${el.age}" name="age">
    <input type="text" th:value="${el.salary}" name="salary" >
    <input type="text" th:value="${el.height}" name="height" >
    <input type="checkbox" th:checked="${el.deletedEmployee}" name="deletedEmployee">
    <br>
    <button type="submit">Сохранить изменения</button>
  </form>

</div>
</body>
</html>