<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form th:action="${'/'}">
<h1>Практическая №2</h1>
<a href="/client/filter">Поиск клиентов</a>
<a href="/employee/filter">Поиск сотрудников</a>
<a href="/client/add">Добавление клиента</a>
<a href="/employee/add">Добавление сотрудника</a>
    <a href="/empl">Сотрудники</a>
<h1>Данные клиентов</h1>
<div th:each="el : ${clientInformations}">
    <h3 th:text="${el.clientName}"></h3> <p th:text="${el.orderCost}"></p> <p th:text="${el.clientAge}"></p>
    <p th:text="${el.orderWeight}"></p>
    <p th:text="${el.payment}"></p>
</div>
</form>
</body>
</html>