<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="body">
<div th:insert="blocks/header"></div>
<form th:action="${'/'}">
    <table  class="table">
        <tr><td>Имя клиента</td><td>Возраст клиента</td><td>Стоимость заказа</td><td>Вес заказа</td><td>Статус оплаты</td><td>Другое</td></tr>
        <tr th:each="el : ${clientInformations}"><td th:text="${el.clientName}"/>
            <td th:text="${el.clientAge}"/>
            <td th:text="${el.orderCost}"/>
            <td th:text="${el.orderWeight}"/>
            <td th:text="${el.payment}"/>
            <td  ><a th:href="'/client/'+${el.id}">Подробнее</a></td>
        </tr>
    </table>
<!--    <h3 class="p" th:text="${el.clientName}"></h3> <p class="p" th:text="${el.orderCost}"></p> <p th:text="${el.clientAge}"></p>-->
<!--    <p class="p" th:text="${el.orderWeight}"></p>-->
<!--    <p class="p" th:text="${el.payment}"></p>-->
<!--    <a class="p" th:href="'/client/'+${el.id}">Подробнее</a>-->
    <div th:insert="blocks/footer"></div>
</form>
</body>
</html>