<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="body">
<div th:insert="blocks/header"></div>
<form th:action="${'/employee'}">
  <table  class="table">
    <tr><td>Имя сотрудника</td><td>Возраст </td><td>Зарплата</td><td>Рост</td><td>Уволен</td><td>Другое</td></tr>
    <tr th:each="el : ${employeeinformations}"><td th:text="${el.employeeName}"/>
      <td th:text="${el.age}"/>
      <td th:text="${el.salary}"/>
      <td th:text="${el.height}"/>
      <td th:text="${el.deletedEmployee}"/>
      <td  ><a th:href="'/employee/'+${el.id}">Подробнее</a></td>
    </tr>
  </table>

  <div th:insert="blocks/footer"></div>
</form>
</body>
</html>