<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form th:action="${'/empl'}">
  <h1>Практическая №2</h1>
  <a href="/client/filter">Поиск клиентов</a>
  <a href="/employee/filter">Поиск сотрудников</a>
  <a href="/client/add">Добавление клиента</a>
  <a href="/employee/add">Добавление сотрудника</a>
  <a href="/">Клиенты</a>
  <h1>Данные сотрудников</h1>
  <div th:each="el : ${employeeinformations}">
    <h3 th:text="${el.employeeName}"></h3>
    <p th:text="${el.salary}"></p>
    <p th:text="${el.age}"></p>
    <p th:text="${el.height}"></p>
    <p th:text="${el.deletedEmployee}"></p>
  </div>
</form>
</body>
</html>